/* src/views/Game.css */
#game-container {
  display: grid;
  gap: 0; /* Sin espacio entre los cuadrados */
  width: 100%;
  height: 100%;
  border: none; /* Sin bordes alrededor del contenedor */
}

.celda {
  background-color: #fff; /* Fondo blanco para los cuadrados */
  border: none; /* Sin borde para los cuadrados */
}

.cuadrado {
  background-color: red; /* Color del cuadrado en movimiento */
}
