/* Board.css */

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: black; /* Color de fondo del tablero */
}

.board-row {
  display: flex;
}

.board-cell {
  width: 30px;
  height: 30px;
  margin: 0;
}

.board-cell.blue {
  background-color: blue;
}

.board-cell.points {
  background-color: yellow;
}
