/* src/views/Game.css */
#game-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20px, 1fr)); /* Ajustar según sea necesario */
  gap: 0; /* Sin espacio entre los cuadrados */
  width: 100%;
  height: 100%;
  border: none; /* Sin bordes alrededor del contenedor */
}

.celda {
  background-color: transparent; /* Fondo transparente para las celdas */
  border: none; /* Sin borde para los cuadrados */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent; /* Fondo transparente para las celdas */
  border: none; /* Sin borde para los cuadrados */
  display: flex;
  align-items: center;
  justify-content: center;

}

.cuadrado {
  background-image: url('../../assets/images/right.gif'); /* Ruta a tu imagen GIF */
  background-size: contain; /* Ajusta el GIF para que se ajuste dentro de la celda */
  background-repeat: no-repeat; /* Evita la repetición del GIF */
  background-position: center; /* Centra el GIF dentro de la celda */
  width: 100%;
  height: 100%;
}

.celda-blanca {
  background-color: white; /* Fondo blanco para las celdas con valor 0 */
}

.celda-azul {
  background-color: blue; /* Fondo azul para las celdas con valor 1 */
}