<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="https://www.thymeleaf.org"
  lang="en"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="image/favicon.ico" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Register</title>
  </head>
  <body>
    <div th:if="${param.error}" class="alert alert-danger text-center">
      Registration failed. Please try again.
    </div>
    <div th:if="${param.success}" class="alert alert-success text-center">
      Registration successful. You can now log in.
    </div>
    <div
      class="container d-flex justify-content-center align-items-center min-vh-100"
    >
      <div class="row border rounded-5 p-3 bg-white shadow box-area">
        <div
          class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box"
          style="background: #000"
        >
          <div class="featured-image mb-3">
            <img
              th:src="@{/image/pacman.gif}"
              class="img-fluid"
              style="width: 250px"
            />
          </div>
          <p
            class="text-white fs-2"
            style="
              font-family: 'Courier New', Courier, monospace;
              font-weight: 600;
            "
          >
            Pac-Man
          </p>
          <small
            class="text-white text-wrap text-center"
            style="width: 17rem; font-family: 'Courier New', Courier, monospace"
            >Real-time Multiplayer</small
          >
        </div>
        <div class="col-md-6 right-box">
          <div class="row align-items-center">
            <div class="header-text mb-4">
              <h2>Register</h2>
              <p>Create your account to get started.</p>
            </div>
            <form th:action="@{/register}" method="post">
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control form-control-lg bg-light fs-6"
                  placeholder="First Name"
                  name="firstName"
                />
              </div>
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control form-control-lg bg-light fs-6"
                  placeholder="Last Name"
                  name="lastName"
                />
              </div>
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control form-control-lg bg-light fs-6"
                  placeholder="User Name"
                  name="username"
                />
              </div>
              <div class="input-group mb-3">
                <input
                  type="email"
                  class="form-control form-control-lg bg-light fs-6"
                  placeholder="Email"
                  name="email"
                />
              </div>
              <div class="input-group mb-3">
                <input
                  type="password"
                  class="form-control form-control-lg bg-light fs-6"
                  placeholder="Password"
                  name="password"
                />
              </div>
              <div class="input-group mb-3">
                <input
                  type="password"
                  class="form-control form-control-lg bg-light fs-6"
                  placeholder="Confirm Password"
                  name="confirmPassword"
                />
              </div>
              <div class="input-group mb-3">
                <input
                  type="submit"
                  class="btn btn-lg btn-dark w-100 fs-6"
                  value="Register"
                />
              </div>
              <div class="row">
                <small
                  >Already have an account?
                  <a th:href="@{/login}">Login</a></small
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
